.dashboard {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #f5f8fb;
}

.dashboard-sidebar {
    display: flex;
    align-items: left;
}

.dashboard-content {
    flex: 1;
    padding: 30px;
    min-width: 0;
}

.dashboard-content h1 {
    display: flex;

    margin: 0;
    color: #1a202c;
}

/* Overview */
.clients-stats-card, .services-stats-card {
    width: 300px;
    height: 150px;
    background-color: #8ec3eb;
    border-radius: 10px;
    margin: 10px;
    padding: 0px 5px;
}

